/*------- common style--------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
body{
font-family: Roboto, sans-serif;
color: #434455;
background-color: #ffffff;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .section{
    padding-top: 120px;
    padding-bottom: 120px;
  }
  /*------- common style--------- */
  /* -------Page Header styles----------- */
  .page-header-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }  
  .p-nav{
    border-bottom: 1px solid #e7e9fc;
  }
  .page-nav{
    display: flex;
    align-items: center; 
  }
  .menu{
    display: flex;
    gap: 40px;
  }
  .page-address{
    display: flex;
    gap: 40px;
  }
.top-logo{
padding-top: 20px;
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:  #4d5ae5;
margin-right: 76px;
}
.logo-studio{
    color: #2e2f42;
}
.nav-link{
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}
.not-italic-address{
font-style: normal;
}
.contact-item{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;   
}
.contact-item:hover,
.contact-item:focus{
    color: #404bbf;
}
 /* -------Page Header styles----------- */
 /* ------Hero section */

.hero-title{
max-width: 496px;
margin-left: auto;
margin-right: auto;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
margin-bottom: 48px;
}
.hero-container {
    padding: 188px 0; 
    background-color: #2e2f42;
    }
.order-btn{
display: block;
margin-left: auto;
margin-right: auto;
min-width: 169px;
height: 56px;
border: none; 
border-radius: 4px;
padding: 16px 20px;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4d5ae5;
color: #ffffff;
}
.sec-btn:hover,
.sec-btn:focus{
    background-color: #404bbf;
}
/*-------Empty  section style------*/
.block-empty-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.empty-list {
    display: flex;
    gap:24px;
  }
  .empty-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .block-empty-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
.block-empty-paragraph{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/*-------Empty  section style------*/
/* --------Team  section style----- */
.sec-color-team{
    background: #f4f4fd;  
}
.team-title{
  margin-bottom: 8px;
}
.team-background{
    background-color:#ffffff;
}
.team-list {
    display: flex;
    gap:24px;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
}
.photo-item{
  margin-bottom: 16px; 
}
.card-item{
    margin-top: 16px;
    margin-bottom: 8px;
}

.team-list-item {
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
  }
.title-team{
font-size: 36px;
letter-spacing: 0.02em;
line-height: 1.11;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}
.employee-container{
  padding: 32px 0;
}
.card-team{
text-align: center;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
background-color:#ffffff;
}
.job-name{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
background-color:#ffffff;
text-align: center; 
}
/* --------Team  section style----- */
/* --------Portfolio  section style----- */
.portfolio-list{
display: flex;
column-gap: 24px; 
row-gap: 48px;
flex-wrap: wrap;
}
.content-paragraph-section{
  padding: 32px 16px;
  border: 1px solid #e7e9fc; 
  border-top: none; 
}
.portfolio-list-item{
    width: calc((100% - 2 * 24px) / 3);
}
.title-portfolio{
font-size: 36px;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}
/* .img-item{ 
margin-top: 30px;
margin-bottom: 32px;
}*/
.card-content-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.card-content-paragraph{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin-bottom: 32px;
}
/* --------Portfolio  section style----- */
/* --------Footer  section style----- */
.footer-container{
  padding: 100px 0;
  background-color: #2e2f42;
}
.logo-footer{
font-family: "Raleway", sans-serif;
font-weight: 700;
line-height: 1.17;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.logo-studio-ftr{
color: #f4f4fd;
}
  .a-section{
  display: inline-block; 
  margin-bottom: 16px; 
 }
.footer-paragraph{
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
/* --------Footer  section style----- */