/*------- common style--------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
body{
font-family: Roboto, sans-serif;
color: #434455;
background-color: #ffffff;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .section{
    padding-top: 120px;
    padding-bottom: 120px;
  }
  /*------- common style--------- */
  /* -------Page Header styles----------- */
  .page-header-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }  
  .p-nav{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .page-nav{
    display: flex;
    align-items: center; 
  }
  .menu{
    display: flex;
    gap: 40px;
  }
  .page-address{
    display: flex;
    gap: 40px;
  }
.top-logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:  #4d5ae5;
margin-right: 76px;
}
.logo-studio{
    color: #2e2f42;
}
.current{
position: relative;
color:  #404bbf;
}
.current::after{
content: '';
position: absolute;
left: 0;
bottom: -1px;
border-radius: 2px;
width: 100%;
height: 4px;
background-color: #404bbf;
}
  
.nav-link{
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
    transform: transform  250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.not-italic-address{
font-style: normal;
}
.contact-item{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;   
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item:hover,
.contact-item:focus{
    color: #404bbf;
    transform: transform  250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
 /* -------Page Header styles----------- */
 /* ------Hero section */

.hero-title{
max-width: 496px;
margin-left: auto;
margin-right: auto;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
margin-bottom: 48px;
}
.hero-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg); 
  background-size: cover;
  background-color: #303030;
    padding: 188px 0; 
    background-color: #2e2f42;
    background-repeat: no-repeat; 
    background-position: center;
    }
.order-btn{
display: block;
margin-left: auto;
margin-right: auto;
min-width: 169px;
height: 56px;
border: none; 
border-radius: 4px;
padding: 16px 20px;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4d5ae5;
color: #ffffff;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.sec-btn:hover,
.sec-btn:focus{
    background-color: #4D5AE5;
    transform: transform  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*-------Empty  section style------*/
.icon{
  border: 1px solid;
  border-radius: 4px;
  width: 254px;
  height: 112px;
}
.icon-position{
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 112px; 
  background-color: #f4f4fd; 
  border-radius: 4px;
  margin-bottom: 8px; 
}
.block-empty-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.empty-list {
    display: flex;
    gap:24px;
  }
  .empty-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .block-empty-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
.block-empty-paragraph{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/*-------Empty  section style------*/
/* --------Team  section style----- */
.sec-color-team{
    background: #f4f4fd;  
}
.team-title{
  margin-bottom: 8px;
}
.team-background{
    background-color:#ffffff;
}
.team-list {
    display: flex;
    gap:24px;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
}
.card-item{
    margin-bottom: 8px;
}
.team-list-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
  }
.title-team{
font-size: 36px;
letter-spacing: 0.02em;
line-height: 1.11;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}
.employee-container{
  padding: 32px 0;
}
.card-team{
text-align: center;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
background-color:#ffffff;
}
.job-name{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
background-color:#ffffff;
text-align: center; 
}
.icon-soc-position{
  display: flex;
  gap: 24px;
  justify-content: center; 
  margin-bottom: 32px;  
}

.soc-list{
  width: 40px; 
  height: 40px; 

}.soc-link{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 24px;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
}
.soc-link:hover,
.soc-link:focus{
  background-color: #404bbf; 
}
.soc{
  stroke: #ffffff;
  fill:  #f4f4fd ;
  }

/* --------Team  section style----- */
/* --------Portfolio  section style----- */
.portfolio-list{
display: flex;
column-gap: 24px; 
row-gap: 48px;
flex-wrap: wrap;
}
.content-paragraph-section{
  padding: 32px 16px;
  border: 1px solid #e7e9fc; 
  border-top: none; 
}
.portfolio-list-item{
    position: relative;
    width: calc((100% - 2 * 24px) / 3);
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); */
}
.portfolio-list-item:hover .portfolio-overlay{
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-portfolio{
font-size: 36px;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}

.div-image{
  position: relative;
  overflow: hidden; }

.portfolio-overlay{
  position: absolute;
  font-size: 16px; 
  line-height: 1.5; 
  letter-spacing: 0.02em;
  color: #f4f4fd;
  top: 0;
  padding: 40px 32px; 
  background-color: #4d5ae5; 
  width: 100%;
  height: 100%;
  transform: translateY(100%); 
  transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.card-content-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.card-content-paragraph{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.card-content-paragraph:hover{
  transform: translateY(0%);
}
/* --------Portfolio  section style----- */
/* --------Footer  section style----- */
.footer-container{
  display: flex;
    max-width: 1158px;
    padding-left: 15px; 
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0; 
    background-color: #2e2f42;
}
/* .container-div{ */
/* display: flex; */
/* align-items: baseline;  */
/* } */
.logo-footer{
font-family: "Raleway", sans-serif;
font-weight: 700;
line-height: 1.17;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.logo-studio-ftr{
color: #f4f4fd;
}
.soc-list{
  width: 40px;
  height: 40px;
}
.social-media-title{
font-weight: 500;
color: #ffffff;
margin-bottom: 16px; 
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;

}
  .flex-footer{ 
display: flex;
align-items: baseline;
padding-right: 127px;
justify-content:space-between;
flex-wrap: wrap; 
margin-right: 120px;
gap:48px; */
} 

.icon-position-f{
  display: flex; 
  gap: 16px; 
}
  
.soc-link-f{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 24px;
  align-items: center;
  border-radius: 50%;
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); }

  .soc-link-f:hover,
  .soc-link-f:focus
  {
    background-color: #31d0aa; 
  }
.footer-paragraph{
  font-weight: 500;
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
/* --------Footer  section style----- */